* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFCFB;
    font-family: "Roboto", sans-serif;
    ;
}

.header {
    padding: 16px 32px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-width: 1200px;
    align-items: center;
    padding: 1px 2px;
    margin: 0 auto;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    justify-content: center;

}

.nav-menu a {
    padding: 18px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-button {
    display: flex;
    margin-right: 80px;
}

.button-login {
    color: #fa7436;
    border: none;
    background: transparent;
    margin-right: 20px;
}

.button-signup {
    background-color: #FA7436;
    color: white;
    padding: 15px 25px;
    margin-left: 15px;
    border: none;
    border-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-buttons a {
    margin-left: 15px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.login {
    color: #FA7436;
}

.signup {
    background: #FA7436;
    color: white;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    padding: 0px 8%;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 46px;
    line-height: 1.3;
    width: 325px;
}

.hero-text span {
    font-weight: bold;
}

.highlight {
    color: #FA7436;
}

.hero-text p {
    margin: 20px 0;
    color: #555;
    width: 354px;
    line-height: 31px;
    margin-bottom: 27px;
}

.btn-primary {
    background: #FA7436;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    border: none;

}

.btn-primary-discover {
    border: 1px solid #FA7436;
    color: #FA7436;
    ;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.header-vector {
    margin-left: 15px;
}

.hero-image img {
    max-width: 100%;
}

/* Search Box */
.search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 20px;
    margin: 0 12%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.search-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.search-item input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 180px;
}

/* TODO */
.todo-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #F7F8FC;
    margin-top: 35px;
}

.todo-section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin-bottom: 7px;
}

.todo-section h2 span {
    color: #ff5722;
}

.subtitle {
    color: #666;
    margin-bottom: 40px;
    font-size: 14px;
    margin-top: 22px;
    line-height: 24px;
}

.todo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.todo-card {
    background: #fff;
    width: 250px;
    padding: 44px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: 0.3s;
    position: relative;
}

.todo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 30px;
    margin-bottom: 15px;
}

.todo-card h3 {
    margin: 0;
    font-size: 18px;
    color: #222;
}

.todo-card p {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}

.deals-section {
    text-align: center;
    padding: 40px 20px;
}

.deals-section h2 {
    font-size: 28px;
    font-weight: bold;
}

.deals-section h2 span {
    color: #ff5722;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
    font-size: 14px;
}

.deals-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.deal-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 220px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.deal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.book-btn {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff5722;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.deal-info {
    padding: 10px;
    text-align: left;
}

.deal-info h3 {
    margin: 0;
    font-size: 18px;
}

.country {
    color: gray;
    font-size: 14px;
    margin: 4px 0;
}

.rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.rating {
    color: #FA7436;
}

.price del {
    color: #aaa;
    font-size: 13px;
}

.price strong {
    color: #ff5722;
    font-size: 15px;
}

/* Vacation plan */
.vacation-plan {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 1200px;
    margin: 40px auto;
}

.best-plan {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.best {
    font-size: 47px;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

.best span {
    color: #FA7436;
    font-weight: bold;
}

.vacation-details {
    width: 450px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #999999;
}

.vac-ele-img {
    position: absolute;
    margin-left: 569px;
}

.vac-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.trip-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 8%;
    background: #fff;
}

.trip-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 330px;
    position: relative;
    margin-top: 15px;
}

.trip-card h3 {
    font-size: 1rem;
    margin: 0;
}

.price {
    color: #ff5722;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.trip-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
}

.trip-info img {
    width: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

/* people about us */
.people-aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #F7F8FC;
    margin-bottom: 55px;
    padding: 80px;
}

.aboutus-content {
    justify-content: center;
    display: grid;
    padding: 48px;
}

.people-say {
    font-size: 48px;
    font-weight: bold;
}

.aboutus {
    font-size: 48px;
    font-weight: bold;
    color: #FA7436
}

.our-client {
    padding: 25px 0;
    width: 356px;
    line-height: 25px;
}

.description {
    display: grid;
    align-items: center;
}

.des-details {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: white;
    padding: 20px 40px;
    margin-right: 105px;
    position: relative;
}

.des-content {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 25px;
}

.name {
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: bold;
}

.place {
    font-size: 20px;
    margin-bottom: 13px;
    color: #999999;
}

.des-image {
    position: absolute;
    margin-top: -20px;
    margin-left: -30px;
}

.des-element {
    position: absolute;
    margin-top: -102px;
    margin-left: 448px;
}

/* update blog */
.update-blog {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FEFCFB;
    margin-bottom: 55px;

}

.update-blog-text {
    display: flex;
    justify-content: center;
    font-size: 54px;
    font-weight: bold;
    padding: 55px;
    background: black;
    flex: 1;
}

.text {
    font-size: 54px;
    display: flex;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
}

.text span {
    color: #FA7436;
    font-weight: bold;
}

.location {
    color: #999999;
    font-size: 13px;
}

.update-blog-text {
    background: #FA7436;
    flex: 1;
}

.blog-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 17px;
}

.blog-image-content {
    width: 215px;
    font-size: 19px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    padding: 15px;
}

.blog-image-date {
    color: #999999;
    padding: 0 15px;
}

/* Subscribe Section */
.subscribe-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    background-color: #FA7436;
    margin-top: 15px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 100px;
}

.subscribe-offer-content {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
}

.subscribe-vector-img {
    position: absolute;
    width: 400px;
    height: auto;
    left: 0;
    bottom: 0;
}

.subscribe-element-img {
    position: absolute;
    width: 103px;
    height: auto;
    right: 7px;
    top: 10px;
}

.subscribe-content {
    width: 600px;
    height: 150px;
    text-align: center;
    padding: 15px;
    font-weight: bold;

}

.subscribe-mail {
    display: flex;
    justify-content: center;
}

.subscribe-mail-input {
    width: 50%;
    height: 60px;
    border-radius: 13px;
    border: none;
    position: relative;
    margin-left: 114px;
}

.subscribe-mail-input::placeholder {
    color: #999999;
    font-size: 18px;
}

.subscribe-button {
    background-color: #FA7436;
    color: white;
    padding: 15px 25px;
    margin-left: 15px;
    border: none;
    border-radius: 8px;
    /* margin-left: -97px; */
    position: absolute;
    margin: 8px;
    margin-left: 580px;
}

/* Footer Section */
.footer-container {
    display: grid;
    grid-template-columns: 440px 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #666666;
    padding-bottom: 26px;
}

.footer-trabook {
    display: grid;
    grid-template-rows: auto auto auto;
}

.footer-trabook-logo {
    font-size: 24px;
    font-weight: bold;
    display: grid;
    padding: 14px;
}

.footer-trabook-content {
    width: 260px;
    padding: 14px;
    color: #666666;
    line-height: 24px;
}

.footer-company,
.footer-contact,
.footer-more {
    display: grid;
}

.footer-company-heading,
.footer-company-contact,
.footer-more-heading {
    font-size: 18px;
    color: #000000;
    padding-bottom: 22px;
    font-weight: bold;
    padding-top: 14px;
}

.footer-company-heading-menu,
.footer-company-contact-menu,
.footer-more-menu {
    color: #666666;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    color: #666666;

}